/* Custom styles for events */
.rbc-event {
    background-color: #a78bfa; /* Light purple for event background */
    border: 1px solid #8b5cf6; /* Darker purple for event border */
    color: white; /* Text color inside the event */
  }
  
  /* Optional: Style for hovering over events */
  .rbc-event:hover {
    background-color: #8b5cf6; /* Darker purple on hover */
    border-color: #6d28d9; /* Dark purple border on hover */
  }



 /* styles.css */
@keyframes moveCircle {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(30px, 30px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  .circle {
    position: absolute; /* Position circles absolutely */
    border-radius: 50%;
    animation: moveCircle 5s linear infinite; /* Animation duration and repetition */
  }
  
  /* Specific styles for the circles */
  .circle1 {
    top: 30%;
    left: 80%;
  }
  
  .circle2 {
    top: 10%;
    left: 20%;
  }
  